<section class="container" [ngClass]="formStatus" >
  <header>Registration Form</header>

  <form class="form" [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div class="column">
      <div class="input-box">
        <input type="text" placeholder="First Name" formControlName="firstName"/>
        <small *ngIf="reactiveForm.get('firstName').errors?.['required'] && reactiveForm.get('firstName').touched" >
          *First Name is a required field.
        </small>
        <small *ngIf="reactiveForm.get('firstName').errors?.['noSpaceAllowed'] && reactiveForm.get('firstName').invalid" >
          *No space is allowed for First name.
        </small>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Last Name" formControlName="lastName"/>
        <small *ngIf="reactiveForm.get('lastName').errors?.['required'] && reactiveForm.get('lastName').touched" >
          *Last Name is a required field.
        </small>
        <small *ngIf="reactiveForm.get('lastName').errors?.['noSpaceAllowed'] && reactiveForm.get('lastName').touched" >
          *No space is allowed for Last name.
        </small>
      </div>
    </div>    

    <div class="input-box">
      <input type="text" placeholder="Email" formControlName="email"/>
      <small *ngIf="reactiveForm.get('email').touched && reactiveForm.get('email').invalid" >
        *Entered E-mail is not valid.
      </small>
    </div>

    <div class="column">
      <div class="input-box">
        <input type="text" placeholder="username" formControlName="username"/>
        <button class="btn-gen-username" type="button" (click)="createUsername()" [disabled]="!reactiveForm.get('firstName').value || !reactiveForm.get('lastName').value || !reactiveForm.get('dob').value" >
          Create a Username
        </button>
      </div>
      <div class="input-box">
        <input type="date" placeholder="Date of Birth" formControlName="dob"/>
      </div>
    </div>

    

    <div class="gender-box">
      <h3>Gender</h3>
      <div class="gender-option">
        <div class="gender">
          <input type="radio" value="male" id="check-male" formControlName="gender"/>
          <label for="check-male">Male</label>
        </div>
        <div class="gender">
          <input type="radio" value="female" id="check-female" formControlName="gender"/>
          <label for="check-female">Female</label>
        </div>
        <div class="gender">
          <input type="radio" value="other" id="check-other" formControlName="gender"/>
          <label for="check-other">Prefer not to say</label>
        </div>
      </div>
    </div>

    <div class="input-box address" formGroupName="address">
      <label>Address</label>
      <input type="text" placeholder="Street address" formControlName="street"/>
      <small *ngIf="reactiveForm.get('address.street').touched && reactiveForm.get('address.street').invalid" >
        *Street is required field.
      </small>
      <div class="column">
        <div class="select-box">
          <select name="country" formControlName="country">
            <option hidden>Country</option>
            <option>America</option>
            <option>Japan</option>
            <option>India</option>
            <option>Nepal</option>
          </select>
          <small *ngIf="reactiveForm.get('address.country').touched && reactiveForm.get('address.country').invalid" >
            *Country is required field.
          </small>
        </div>
        <input type="text" placeholder="City" formControlName="city"/>
      </div>
      <div class="column">
        <input type="text" placeholder="Region" formControlName="region"/>
        <div>
          <input type="number" placeholder="Postal code" formControlName="postalCode"/>
          <small *ngIf="reactiveForm.get('address.postalCode').touched && reactiveForm.get('address.postalCode').invalid" >
              *Postal is required field.
          </small>
        </div>
      </div>
    </div>

    <!--HTML for Skills Form Array -->
    <div class="input-box skills" formArrayName="skills">
      <h4>Add Skills</h4>
      <div class="column" *ngFor="let control of reactiveForm.get('skills')['controls']; let i=index" >
        <input type="text" placeholder="Add Skill..."         
          [formControlName]="i"/>
        <button type="button" class="btn-add-delete" (click)="removeSkillControl(i)" >Delete</button>
      </div> 
    </div>
    <button type="button" class="btn-add-delete" (click)="addSkillControl()">
      Add Skills
    </button>

    <!--HTML for Experience Form Array -->
    <div class="input-box" formArrayName="experience">
      <div class="experience" 
          *ngFor="let expControl of reactiveForm.get('experience')['controls']; let j=index" [formGroupName]="j">
        <label>Experience</label>
        <input type="text" placeholder="Company Name" formControlName="company" />
        <div class="column">
          <div class="select-box">
            <select formControlName="position">
              <option hidden>Position</option>
              <option>Junior Developer</option>
              <option>Software Developer</option>
              <option>Senior Developer</option>
              <option>Team Lead</option>
            </select>
          </div>
          <input type="number" placeholder="Experience" formControlName="experience"/>
        </div>
        <div class="column">
          <input type="date" placeholder="Start Date" formControlName="startDate"/>
          <input type="date" placeholder="End Date" formControlName="endDate"/>
        </div>
        <button type="button" class="btn-add-delete" (click)="deleteExperience(j)" >Delete Experience</button>
      </div>
    </div>
    <button type="button" class="btn-add-delete" (click)="addExperience()">Add Experience</button>

    <input type="submit" value="Submit" class="submit-btn"> 
    <!-- [disabled]="!reactiveForm.valid" -->
  </form>
</section>

<!--uncomment below HTML for displaying form data-->

<section class="user-detail-container" *ngIf="formSubmitted">
  <div class="user-details-container">
    <div class="user-avatar">
      <p>{{userdata?.firstName.slice(0,1) | uppercase}}{{userdata?.lastName.slice(0,1) | uppercase}}</p>
    </div>
    <div class="user-details">
      <div class="user-name">
        <h2>{{userdata.firstName}}&nbsp;{{userdata.lastName}}</h2>
      </div>
      <p><b>Email:</b>{{userdata.email}}</p>
      <p><b>Username:</b> {{userdata.username}} </p>
      <p><b>Date of birth:</b> {{userdata.dob}}</p>
      <div class="user-name">
        <h3>Address</h3>
      </div>
      <span>{{userdata.address.street}}</span>.
      <span>{{userdata.address.city}}</span>.
      <span> {{userdata.address.region}}</span>.
      <span>{{userdata.address.postalCode}}</span>
    </div>
  </div>
</section>